# Connection string to Neon PostgreSQL or Local PostgreSQL
# Example Neon URL: postgresql://user:password@ep-xyz-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL="postgres://postgres:postgres@localhost:5432/pos_minimarket"
